body {
  background-color: #404;
  background-image: url(f1428814c8fd9f79455125da40c89c13.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

